# Ignore backup files #
#######################
~*
# Ignore Solution #
##########################
*.sln
*.slo
*.suo
*.swp
*.swo
*.h.pch
*.gch
*.sdf
*.opendb

KillerWave/Intermediate/*
KillerWave/Build/*
KillerWave/Saved/*
KillerWave/DerivedDataCache/*
